{% extends 'base.html' %}

{% block title %}
Book a slot
{% endblock %}



{% block content %}
<h1>book a slot</h1>

<div>
    <form method="post" action="{% url 'booking' %}" required>
        {% csrf_token %}
            <div>
                <h3>Select Day:</h3>
                <select name="day">
                    {% for validateWeekday in validateWeekdays %}
                    <option value="{{validateWeekday}}">{{validateWeekday}}</option>
                    {% endfor %}
                </select>
            </div>

            <br/>
            <button type="submit">Continue</button>
        </div>
    </form>
</div>
{% endblock %}